USE [PP2024]
GO
/****** Object:  Table [dbo].[LOGIN]    Script Date: 01/10/2024 14:50:25 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LOGIN]') AND type in (N'U'))
DROP TABLE [dbo].[LOGIN]
GO
/****** Object:  Table [dbo].[ALUMNOS]    Script Date: 01/10/2024 14:50:25 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ALUMNOS]') AND type in (N'U'))
DROP TABLE [dbo].[ALUMNOS]
GO
USE [master]
GO
/****** Object:  Database [PP2024]    Script Date: 01/10/2024 14:50:25 ******/
DROP DATABASE [PP2024]
GO
/****** Object:  Database [PP2024]    Script Date: 01/10/2024 14:50:25 ******/
CREATE DATABASE [PP2024] ON  PRIMARY 
( NAME = N'PP2024', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.MSSQLSERVER\MSSQL\DATA\PP2024.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PP2024_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.MSSQLSERVER\MSSQL\DATA\PP2024_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PP2024].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PP2024]
GO
/****** Object:  Table [dbo].[ALUMNOS]    Script Date: 01/10/2024 14:50:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALUMNOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](100) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[NOTA] [int] NULL,
 CONSTRAINT [PK_ALUMNOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOGIN]    Script Date: 01/10/2024 14:50:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USUARIO] [nvarchar](50) NULL,
	[PASS] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOGIN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ALUMNOS] ON 

INSERT [dbo].[ALUMNOS] ([ID], [NOMBRE], [EMAIL], [NOTA]) VALUES (1, N'JUAN', N'juan@gmail.com', 8)
INSERT [dbo].[ALUMNOS] ([ID], [NOMBRE], [EMAIL], [NOTA]) VALUES (2, N'MARIO', N'mario@hotmail.com', 7)
INSERT [dbo].[ALUMNOS] ([ID], [NOMBRE], [EMAIL], [NOTA]) VALUES (3, N'MARCELA', N'marcela@gmail.com', 10)
SET IDENTITY_INSERT [dbo].[ALUMNOS] OFF
GO
SET IDENTITY_INSERT [dbo].[LOGIN] ON 

INSERT [dbo].[LOGIN] ([ID], [USUARIO], [PASS]) VALUES (1, N'gonzalo', N'123')
SET IDENTITY_INSERT [dbo].[LOGIN] OFF
GO
USE [master]
GO
